.home-container {
  padding: 20px;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 50px;
}
  
.home-container h1 {
  font-size: 30px;
  margin-bottom: 20px;
}
  
.home-container p {
  font-size: 18px;
  margin-bottom: 30px;
  margin-top: 50px;
}
  
.projects-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  justify-items: center;
  padding: 0 10px;
  margin: auto;
  width: 85%;
}
  
  