#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  height: 100%;
}

body{
  font-family: 'Quicksand', sans-serif;
}

h1, h2, h3 {
  font-weight: 700; 
}

p {
  font-weight: 400; 
}
.bold-text{
  font-weight: bold;
}